LCK_WPFclient/Service References/LCK_ServiceReference/LCK_DBcommunication.LCK_DataObjects1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlavor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flavor" nillable="true" type="tns:Flavor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlavor" nillable="true" type="tns:ArrayOfFlavor" />
  <xs:complexType name="Flavor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flavor" nillable="true" type="tns:Flavor" />
  <xs:complexType name="ArrayOfBatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Batch" nillable="true" type="tns:Batch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBatch" nillable="true" type="tns:ArrayOfBatch" />
  <xs:complexType name="Batch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flavor" nillable="true" type="tns:Flavor" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Requested" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Batch" nillable="true" type="tns:Batch" />
</xs:schema>