LCK_WPFclient/Service References/LCK_ServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LCK_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILCK_Service_GetAllFlavors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlavors" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetAllFlavors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlavorsResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetBatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBatches" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetBatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchesResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetDailyFlavors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDailyFlavors" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetDailyFlavors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDailyFlavorsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILCK_Service">
    <wsdl:operation name="GetAllFlavors">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetAllFlavors" message="tns:ILCK_Service_GetAllFlavors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetAllFlavorsResponse" message="tns:ILCK_Service_GetAllFlavors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBatches">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetBatches" message="tns:ILCK_Service_GetBatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetBatchesResponse" message="tns:ILCK_Service_GetBatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyFlavors">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetDailyFlavors" message="tns:ILCK_Service_GetDailyFlavors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetDailyFlavorsResponse" message="tns:ILCK_Service_GetDailyFlavors_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILCK_Service" type="tns:ILCK_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFlavors">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetAllFlavors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatches">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetBatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyFlavors">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetDailyFlavors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LCK_Service">
    <wsdl:port name="BasicHttpBinding_ILCK_Service" binding="tns:BasicHttpBinding_ILCK_Service">
      <soap:address location="http://localhost:6790/lck" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>