LCK_WPFclient/Service References/LCK_ServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" />
  <xs:element name="GetAllFlavors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlavorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetAllFlavorsResult" nillable="true" type="q1:ArrayOfFlavor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="store_id" type="xs:int" />
        <xs:element minOccurs="0" name="Day_Number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetBatchesResult" nillable="true" type="q2:ArrayOfBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyFlavors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="store_id" type="xs:int" />
        <xs:element minOccurs="0" name="Day_Number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyFlavorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetDailyFlavorsResult" nillable="true" type="q3:ArrayOfBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>