LCK_WPFclient/Service References/LCK_ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LCK_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILCK_Service_GetAllFlavors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlavors" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetAllFlavors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlavorsResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetBatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBatches" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetBatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchesResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetDailyFlavors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDailyFlavors" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetDailyFlavors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDailyFlavorsResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetStoreInfoByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreInfoByID" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetStoreInfoByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreInfoByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetStoreInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreInfo" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetStoreInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetSpecialOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialOrder" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetSpecialOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetSpecialOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialOrders" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetSpecialOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetPreviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviews" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetPreviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviewsResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetDayInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDayInfo" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetDayInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDayInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetAllStoresInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStoresInfo" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_GetAllStoresInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStoresInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_AddFlavor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFlavor" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_AddFlavor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFlavorResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_AddSpecialOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSpecialOrder" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_AddSpecialOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSpecialOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_AddSpecialOrderBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSpecialOrderBatch" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_AddSpecialOrderBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSpecialOrderBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_AddStore_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStore" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_AddStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateSpecialOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSpecialOrder" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateSpecialOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSpecialOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateSpecialOrderBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSpecialOrderBatch" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateSpecialOrderBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSpecialOrderBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBatch" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateFlavor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlavor" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateFlavor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlavorResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateStore_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStore" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_UpdateStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteSpecialOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSpecialOrder" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteSpecialOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSpecialOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteSpecialOrderBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSpecialOrderBatch" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteSpecialOrderBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSpecialOrderBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBatch" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteFlavor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlavor" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteFlavor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlavorResponse" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteStore_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStore" />
  </wsdl:message>
  <wsdl:message name="ILCK_Service_DeleteStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStoreResponse" />
  </wsdl:message>
  <wsdl:portType name="ILCK_Service">
    <wsdl:operation name="GetAllFlavors">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetAllFlavors" message="tns:ILCK_Service_GetAllFlavors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetAllFlavorsResponse" message="tns:ILCK_Service_GetAllFlavors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBatches">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetBatches" message="tns:ILCK_Service_GetBatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetBatchesResponse" message="tns:ILCK_Service_GetBatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyFlavors">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetDailyFlavors" message="tns:ILCK_Service_GetDailyFlavors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetDailyFlavorsResponse" message="tns:ILCK_Service_GetDailyFlavors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfoByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetStoreInfoByID" message="tns:ILCK_Service_GetStoreInfoByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetStoreInfoByIDResponse" message="tns:ILCK_Service_GetStoreInfoByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetStoreInfo" message="tns:ILCK_Service_GetStoreInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetStoreInfoResponse" message="tns:ILCK_Service_GetStoreInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetSpecialOrder" message="tns:ILCK_Service_GetSpecialOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetSpecialOrderResponse" message="tns:ILCK_Service_GetSpecialOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetSpecialOrders" message="tns:ILCK_Service_GetSpecialOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetSpecialOrdersResponse" message="tns:ILCK_Service_GetSpecialOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreviews">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetPreviews" message="tns:ILCK_Service_GetPreviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetPreviewsResponse" message="tns:ILCK_Service_GetPreviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDayInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetDayInfo" message="tns:ILCK_Service_GetDayInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetDayInfoResponse" message="tns:ILCK_Service_GetDayInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStoresInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/GetAllStoresInfo" message="tns:ILCK_Service_GetAllStoresInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/GetAllStoresInfoResponse" message="tns:ILCK_Service_GetAllStoresInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFlavor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/AddFlavor" message="tns:ILCK_Service_AddFlavor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/AddFlavorResponse" message="tns:ILCK_Service_AddFlavor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSpecialOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/AddSpecialOrder" message="tns:ILCK_Service_AddSpecialOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/AddSpecialOrderResponse" message="tns:ILCK_Service_AddSpecialOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSpecialOrderBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/AddSpecialOrderBatch" message="tns:ILCK_Service_AddSpecialOrderBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/AddSpecialOrderBatchResponse" message="tns:ILCK_Service_AddSpecialOrderBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStore">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/AddStore" message="tns:ILCK_Service_AddStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/AddStoreResponse" message="tns:ILCK_Service_AddStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSpecialOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/UpdateSpecialOrder" message="tns:ILCK_Service_UpdateSpecialOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/UpdateSpecialOrderResponse" message="tns:ILCK_Service_UpdateSpecialOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSpecialOrderBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/UpdateSpecialOrderBatch" message="tns:ILCK_Service_UpdateSpecialOrderBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/UpdateSpecialOrderBatchResponse" message="tns:ILCK_Service_UpdateSpecialOrderBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/UpdateBatch" message="tns:ILCK_Service_UpdateBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/UpdateBatchResponse" message="tns:ILCK_Service_UpdateBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFlavor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/UpdateFlavor" message="tns:ILCK_Service_UpdateFlavor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/UpdateFlavorResponse" message="tns:ILCK_Service_UpdateFlavor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStore">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/UpdateStore" message="tns:ILCK_Service_UpdateStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/UpdateStoreResponse" message="tns:ILCK_Service_UpdateStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSpecialOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/DeleteSpecialOrder" message="tns:ILCK_Service_DeleteSpecialOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/DeleteSpecialOrderResponse" message="tns:ILCK_Service_DeleteSpecialOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSpecialOrderBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/DeleteSpecialOrderBatch" message="tns:ILCK_Service_DeleteSpecialOrderBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/DeleteSpecialOrderBatchResponse" message="tns:ILCK_Service_DeleteSpecialOrderBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/DeleteBatch" message="tns:ILCK_Service_DeleteBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/DeleteBatchResponse" message="tns:ILCK_Service_DeleteBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFlavor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/DeleteFlavor" message="tns:ILCK_Service_DeleteFlavor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/DeleteFlavorResponse" message="tns:ILCK_Service_DeleteFlavor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStore">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCK_Service/DeleteStore" message="tns:ILCK_Service_DeleteStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCK_Service/DeleteStoreResponse" message="tns:ILCK_Service_DeleteStore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILCK_Service" type="tns:ILCK_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFlavors">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetAllFlavors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatches">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetBatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyFlavors">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetDailyFlavors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfoByID">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetStoreInfoByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfo">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetStoreInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialOrder">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetSpecialOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialOrders">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetSpecialOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreviews">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetPreviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayInfo">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetDayInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStoresInfo">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/GetAllStoresInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFlavor">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/AddFlavor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpecialOrder">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/AddSpecialOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpecialOrderBatch">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/AddSpecialOrderBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStore">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/AddStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSpecialOrder">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/UpdateSpecialOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSpecialOrderBatch">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/UpdateSpecialOrderBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBatch">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/UpdateBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlavor">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/UpdateFlavor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStore">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/UpdateStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSpecialOrder">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/DeleteSpecialOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSpecialOrderBatch">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/DeleteSpecialOrderBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/DeleteBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFlavor">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/DeleteFlavor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStore">
      <soap:operation soapAction="http://tempuri.org/ILCK_Service/DeleteStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LCK_Service">
    <wsdl:port name="BasicHttpBinding_ILCK_Service" binding="tns:BasicHttpBinding_ILCK_Service">
      <soap:address location="http://localhost:6790/lck" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>