LCK_WPFclient/Service References/LCK_ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" />
  <xs:element name="GetAllFlavors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFlavorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetAllFlavorsResult" nillable="true" type="q1:ArrayOfFlavor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
        <xs:element minOccurs="0" name="DayNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetBatchesResult" nillable="true" type="q2:ArrayOfBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyFlavors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
        <xs:element minOccurs="0" name="DayNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyFlavorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetDailyFlavorsResult" nillable="true" type="q3:ArrayOfBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreInfoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreInfoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetStoreInfoByIDResult" nillable="true" type="q4:StoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetStoreInfoResult" nillable="true" type="q5:StoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetSpecialOrderResult" nillable="true" type="q6:SpecialOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
        <xs:element minOccurs="0" name="DayNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetSpecialOrdersResult" nillable="true" type="q7:ArrayOfSpecialOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
        <xs:element minOccurs="0" name="startDay_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetPreviewsResult" nillable="true" type="q8:ArrayOfDayPreview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
        <xs:element minOccurs="0" name="DayNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetDayInfoResult" nillable="true" type="q9:DayInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStoresInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStoresInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="GetAllStoresInfoResult" nillable="true" type="q10:ArrayOfStoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlavor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="flav" nillable="true" type="q11:Flavor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlavorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFlavorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="SO" nillable="true" type="q12:SpecialOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSpecialOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialOrderBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_ID" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="batch" nillable="true" type="q13:SO_Batch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialOrderBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSpecialOrderBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="Store" nillable="true" type="q14:StoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_ID" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="updatedSO" nillable="true" type="q15:SpecialOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSpecialOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialOrderBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_ID" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="updatedBatch" nillable="true" type="q16:SO_Batch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialOrderBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSpecialOrderBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Batch_ID" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="updatedBatch" nillable="true" type="q17:Batch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlavor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Flavor_ID" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="updatedFlavor" nillable="true" type="q18:Flavor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlavorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlavorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Store_ID" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LCK_DBcommunication.LCK_DataObjects" minOccurs="0" name="updatedStore" nillable="true" type="q19:StoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SO_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSpecialOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialOrderBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Batch_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialOrderBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSpecialOrderBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Batch_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFlavor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Flavor_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFlavorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFlavorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Store_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>